<!DOCTYPE html>
<html>
    <head>
        <title>Boogle</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style-boogle.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>

    <div class="header"></div>
            <a href="https://mail.google.com/mail/?tab=wm&amp;authuser=0&amp;ogbl" target="_top">Gmail</a>
            <a href="https://www.google.si/imghp?hl=sl&amp;tab=wi&amp;authuser=0&amp;ogbl" target="_top">Slike</a>
        </div>


        <main>
            <img src="https://cdn.dribbble.com/users/1801739/screenshots/10110539/media/c2facd05863880ac6b301bb9815b0400.gif" width="200 px" class="center">
             <input type="text" id="rcorners2">
            <br>
            <br>
             <div class="center">
                <button class="button" onclick="window.location.href ='https://www.smartninja.org/'">Iskanje Boogle</button>
                <button class="button" onclick="window.location.href ='https://www.smartninja.org/'">Click na srečo</button>
             </div>

            <div class="center">Boogle je na voljo v: <a href="https://www.google.com/setprefs?sig=0_9JbiC6vIovMARZc_nNPZ2duBFsM%3D&hl=en&source=homepage&sa=X&ved=0ahUKEwj4xbyGjYTpAhVD1BoKHcZODeEQ2ZgBCBA">English</a></div>
        </main>

        <footer id="fbar">
            <div>Slovenija</div>

            <div class="bottomnav">
                <a href="https://mail.google.com/mail/?tab=wm&amp;authuser=0&amp;ogbl" >Oglaševanje</a>
                <a href="https://www.google.si/imghp?hl=sl&amp;tab=wi&amp;authuser=0&amp;ogbl">Posel</a>
                <a href="https://mail.google.com/mail/?tab=wm&amp;authuser=0&amp;ogbl" >Predstavitev</a>
            </div>
         </footer>
    </body>
</html>