<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Fakebook">
        <meta name="keywords" content="HTML, Fakebook, homework">
        <meta name="author" content="Laura Storman">
        <title>Laura Storman | Fakebook</title>
    </head>

    <body>
        <h1>FAKEBOOK</h1>
        Search people: <input type="text" placeholder="Search by name">
        <br>
        <br>
        <h2>Laura Storman</h2>
        <h4><i>Time you enjoy wasting, was not wasted.</i></h4>
        <br>
        <img src="https://lh3.googleusercontent.com/proxy/_muFG0bT8YdFEAoBZfH90-TGk-j37SUnz1Nm0XQrgW0eujo6KjmZ04wcTDBvpfQuXLsAoWqBqi7vMPUg0rJCRIZ3iGOsB8i3lQ">
        <br>
        <br>
        <button>Add a friend</button>
        <br>
        <br>
        <p><strong>Favourite news site&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</strong> <a href="https://www.rtvslo.si/" target="_blank"> RTVSLO.si</a>
        <p><strong>Education&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</strong>Graphic <strike>designer</strike></p>
        <p><strong>Hobbies&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</strong>Hiking · Camping · Swimming</p>
        <p><strong>Favourite movies&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</strong>1. Eagle vs. Shark  2. Reykjavik 101 3. Bridget Jones's Diary</p>
        <br>
        <p><strong>Friend List</strong></p>
            <ol>
                <li>Lisa Christopher</li>
                <li>William Nancy</li>
                <li>Amy Stephen</li>
            </ol>
        <br>
        <br>
    </body>

</html>
